[mysqld]
# Config for Ag_grid table
innodb_file_per_table=1
local_infile=1
secure-file-priv=""
innodb_strict_mode=0


default-authentication-plugin=mysql_native_password
# Limit the temp file size
innodb_temp_data_file_path = ibtmp1:12M:autoextend:max:5G

# sql - mode
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

max_connections=201


#timezone
default-time-zone = "+08:00"

